body{
    color: #000000;
    background: url(image/blbg.png);
    background-size:cover;
}

.title{
    font-family: 'Sedgwick Ave Display', cursive;
    padding-top: 1em;
    padding-bottom: 0.3em;
    color: rgb(253, 117, 219);
}

.animate-charcter
{
  background-image: linear-gradient(
    -225deg,
    #250e76 0%,
    #1177b1 29%,
    #cc1955 67%,
    #dad426 100%
  );
  /* background-size: auto auto; */
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.subtitle{
    font-family: 'Rubik', sans-serif;
    font-weight: 0px;
    font-size: 30px;
    color: rgb(93, 93, 93);
    margin-top: 2em;
    margin-bottom: 2em;
}

.header{
    width: 73%;
}

.cropped-dj{
    width: 650px; 
    height: 450px; 
    object-fit: cover;
    object-position: 75% 25%;
    margin-top: 200px;
}

.djsoda{
    color: #fff;
    text-align: left;
    margin-top: 400px;
}

.cropped-dr{
    width: 650px; 
    height: 400px; 
    object-fit: cover;
    object-position: 60% 25%;
    margin-top: 200px;
}

.drake{
    color: #fff;
    text-align: right;
    margin-top: 400px;
}

.cropped-ty{
    width: 650px; 
    height: 400px; 
    object-fit: cover;
    object-position: 45% 25%;
    margin-top: 200px;
}

.tyler{
    color: #fff;
    text-align: left;
    margin-top: 400px;
}

.sideprofile{
  position: absolute;
  z-index: index 1;
  margin: 0px;
  padding: 0px;
  right: 0em;
}

.sideimg{
  width:3%; 
  border-radius: 30px;
  margin-right: 12px;
  opacity: 0.8;
  border: 6px solid #f1f1f1;
}

/* CSS */
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  margin: 90px;
  margin-bottom: 110px;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 7px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #000000;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

.white{
    width: 600px; 
    transform: rotate(90deg);
    height: 1885px;
    margin-top: -45em;
}
.whitetxt{
    color: #000000;
    bottom: 22em;
    font-family: 'Aboreto', cursive;
    position: relative;
    font-size: 50px;
    font-weight: bold;
}

.navbar .navbar-nav .nav-link {
    color: #000000;
    font-size: 1.1em;
}
.navbar .navbar-nav .nav-link:hover{
    color: #808080;
}
.navbar-logo-centered .navbar-nav .nav-link{
    padding: 1em 1em;
}
.navbar-nav{
    align-items: center;
}
.navbar .navbar-nav .nav-link{
    color: rgb(0, 0, 0);
    font-size: 1.1em;
    padding:0 1em;
}

.nav-item{
    padding-left:1em ;
    padding-right:1em ;
}

.button{
    padding-right: 1em;
}

.btn{
    background-color: rgb(0, 0, 0);
    border-radius: 0px;
    color: #fff;
}

.btn:hover{
  background-color: rgb(254, 254, 254);
  border-radius: 0px;
  color: #000000;
  transition: 0.4s;
  border-color: #000000;
}
.img-fluid{
    width: 2500px;
    height: auto;
}



.ticket{
  width: 1295px; 
  height: 550px;
  object-fit: cover;
  margin-top: -45em;
  object-position: 25% 74%;
  opacity: 0.8;
}
.tixtxt{
    color: #ffffff;
    bottom: 9em;
    position: relative;
    font-family: 'Aboreto', cursive;
    font-size: 50px;
    font-weight: bold;
}

.tixdesc{
  color: #ffffff;
  bottom: 0.8em;
  position: relative;
  font-size: 20px;
  font-weight: lighter;
}

/* CSS */
.button-48 {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.3em 2.5em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #EBEBEB;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48 span {
  z-index: 1;
  position: relative;
}

.status{
  margin-top: 3em;
  font-family: 'Aboreto', cursive;
  position: relative;
  font-weight: bold;
  color: white;
  font-size: 30px;
}